@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
margin: 0;
font-family: 'Open Sans', sans-serif;
}

table {
    border-spacing: 1em .5em;
}

tr {
    font-size: 13px;
}

.lines { 
 border-top: 1px solid #F6F6F7;
 border-bottom: 1px solid #F6F6F7;
}

.flex-container {
 display: flex;
 flex-direction: row;
 padding-left: 250px;
 padding-right: 200px;
}

.flex-image {
 flex: 50%;
 margin-top: 30px;
}

.flex-description {
 flex: 50%;
}

.price {
  font-weight: bolder;
  color: #222222;
  font-size: 13px;
}

.atc-button {
    display: inline-block;
    width: 150px;
    border: 2px solid #222222;
    text-transform: uppercase;
    color: #222222;
    padding: 10px;
    font-weight: 700;
    background-color: transparent;
    transition-delay: 0.2s;
}

.atc-button:hover {
    color: white;
    cursor: pointer;
    background-color: #222222;
}

.cart {
    text-align: right;
    background-color: #F6F6F7;
    width: 100%;
    left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.cart-text {
    margin-right: 150px;
    font-size: 11px;
    color: #888888;;
    cursor: pointer;
}


.product-title {
    font-size: 20px;
    font-weight: 200;
}

.product-details {
    color: #888888;
    font-size: 13px;
    line-height: 1.5;
}

.red {
color: #C90000;
}

.size-button {
    margin: 2px;
    padding: 10px;
    font-size: 10px;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
    cursor: pointer;
}

.size-button:active, .size-button:focus {
    color:#222222;
    border: 1px solid #222222;
}

.menu {
    background-color: white;
    display: inline-block;
    border: 1px solid #CCCCCC;
    position: fixed;
    right: 9%;
    top: 5%;
    width: 20%;
    padding: 20px;
}

@media only screen and (max-width: 1200px) {
    .flex-container {
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
    }
    .flex-image {
      padding-left: 10px;
      padding-right: 10px;
    }
    .flex-description {
      padding-left: 10px;
      padding-right: 10px;
    }
    .cart-text {
        margin-right: 20px;
    }
    .menu {
        width: 80%;
        right: 5%;
        padding-left: 20px;
        padding-right: 20px;

    }
  }
